<%- include('./partials/header.ejs') %>

      <span><h1 id = "playertitle">PLAYERS</h1></span>
     
<!-- 
      <div class="row">      
        <div class="col-sm-12">
          <div class="d-flex justify-content-center">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary p-3 bg-dark nav-link">Add Player</button>
              <button type="button" class="btn btn-secondary p-3 bg-dark">Search Player</button>
            </div>
          </div>
        </div>
      </div> -->
      <hr>

      <div class="row">      
        <div class="col-sm-12">
          <div class="d-flex justify-content-center">
            <div class="btn-group" role="group" aria-label="Basic example">
              <a href="/player/display_position?pos=point+guard"> <button type="button" class="btn btn-secondary p-2 bg-dark">Point Guard</button></a>
              <a href="/player/display_position?pos=shooting+guard"><button type="button" class="btn btn-secondary p-2 bg-dark">Shooting Guard</button></a>
              <a href="/player/display_position?pos=small+forward"><button type="button" class="btn btn-secondary p-2 bg-dark">Small Forward</button></a>
              <a href="/player/display_position?pos=power+forward"><button type="button" class="btn btn-secondary p-2 bg-dark">Power Forward</button></a>
              <a href="/player/display_position?pos=center"><button type="button" class="btn btn-secondary p-2 bg-dark">Center</button></a>
              
              
              
            </div>
          </div>
        </div>
        
      </div>

    <!-- PLayer Modal -->
    <% for(i=0;i < player.length ; i++) {%>
    <div id="<%= player[i].id%>" class="w3-modal">
      <div class="w3-modal-content w3-card-4 w3-animate-opacity">
        <div class="w3-container">
          <span onclick="document.getElementById('<%= player[i].id%>').style.display='none'"class="w3-button w3-display-topright" style="font-size: 52px;">&times;</span><br><br>
          <nav class="navbar navbar-inverse visible-xs">
            <div class="container-fluid">
              <div class="navbar-header">
                <img src="<%=player[i].photo%>" style="height:150px; width:150px; border-radius:50%;">
              </div>
            </div>
          </nav>

          <div class="container-fluid">
            <div class="row content">
              <div class="col-sm-3 sidenav hidden-xs">
                <h2><%= player[i].firstname+" "+player[i].lastname%></h2>
                <% if(player[i].uuid == uuid){ %>
                <a href="/player/player_edit?id=<%= player[i].id%>"><button type="button" class="btn btn-primary">Edit Player</button></a><br><br>
                <a href="/player/player_delete?id=<%= player[i].id%>"><button type="button" class="btn btn-danger">Delete Player</button></a>
                <% }%>
              </div>
              <br>
              
              <div class="col-sm-9">
                <h2>More Information</h2>
                <br><br>
              
                <br><br>
                <div class="dip">
                  <p>Physical Stats</p>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="well">
                      <h4>Height</h4>
                      <p><%= player[i].height+" ft"%></p> 
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="well">
                      <h4>Weight</h4>
                      <p><%= player[i].weight+" lbs"%></p> 
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="well">
                      <h4>Position</h4>
                      <p><%= player[i].position%></p> 
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="well">
                      <h4>Overall Rating</h4>
                      <p><%= player[i].rating+" pts."%></p> 
                    </div>
                  </div>
                  <div class="col-sm-3"></div> <!--tabulation-->
                  <div class="col-sm-3"></div> <!--tabulation-->
                </div>
                <br><br>
                <div class="dip" >
                  <p>Personal Information</p>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="well">
                      <h4>Age</h4>
                      <p><%= player[i].age+" yrs. old"%></p> 
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="well">
                      <h4>From</h4>
                      <p><%= player[i].address%></p> 
                    </div>
                  </div>
                </div>
                
                <br><br>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%}%>
    <!-- End of Player Modal -->

    <!-- CREATE PLAYER CARD -->
    <div class="row"> 
      <div class="col-md-4">
        <div class="card">
          <div class="content">
            <a href="/player/create" class="w3-button">CREATE PLAYER</a><br><br>
            <p>Found talent? Potential Superstars? Click the button to create a player.</p>
           
          </div>
          <div class="image-jersey">
            <img src="/assets/images/jersey.png">
            <div class="image-jersey">
              <h3>CREATE PLAYER</h3>
              <h1>00</h1>
            </div>
          </div>
          
        </div>
      </div>
      <!-- PLAYER CARD -->
      <% for(i=0;i < player.length ; i++) {%>
        <!-- MODAL SCRIPT for the player card -->
        <script>
        var modal = document.getElementById('<%= player[i].id%>');
  
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
        if (event.target == modal) {
             modal.style.display = "none";
           }
        }
        </script>
        <!-- PLAYER CARD DETAILS -->
        <div class="col-md-4">
          <div class="card">
            <div class="content">
              <a onclick="document.getElementById('<%= player[i].id%>').style.display='block'"
                class="w3-button">View Profile</a>
              <h2><%= player[i].firstname +" "+ player[i].lastname %></h2>
              <p><%= "A " +player[i].age+ " year-old "+ player[i].position + " from " + player[i].address %></p>
            </div>
            <div class="image-jersey">
              <img src="/assets/images/jersey.png">
              <div class="image-jersey">
                <h3><%=player[i].lastname%></h3>
                <h1><%=player[i].rating%></h1>
              </div>
            </div>
            
          </div>
        </div>
        <% } %>
        <!-- END OF PLAYER CARD -->
    </div>   

        <!--footer-->
        <div class="col-md-12"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <span>
            <p>All Copyright and license information is copyrighted by James Karl Sia @ https://github.com/yanijames3</p><br><br>
          </span>
        </div>
        <!--footer ends-->

      </div>
    </div>
  </body>
  

</html>